<a href="https://colab.research.google.com/github/claudiaospina/Curso1/blob/master/Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import math
x=math.cos(2*math.pi)
x

1.0

In [5]:
from math import cos, pi
x=cos(2*pi)
x

1.0

In [6]:
import numpy as np
from math import pi as number_pi
x=np.rad2deg(number_pi)
x

180.0

In [9]:
np?
help(np)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [10]:
math.log(10)

2.302585092994046

In [20]:
list=[]
for i in range(101):
  if i%2==0:
    list.append(i)
    print("Valor: ",i)
  else:
    continue
print(list,"\n","La longitud de la lista es ",len(list))

Valor:  0
Valor:  2
Valor:  4
Valor:  6
Valor:  8
Valor:  10
Valor:  12
Valor:  14
Valor:  16
Valor:  18
Valor:  20
Valor:  22
Valor:  24
Valor:  26
Valor:  28
Valor:  30
Valor:  32
Valor:  34
Valor:  36
Valor:  38
Valor:  40
Valor:  42
Valor:  44
Valor:  46
Valor:  48
Valor:  50
Valor:  52
Valor:  54
Valor:  56
Valor:  58
Valor:  60
Valor:  62
Valor:  64
Valor:  66
Valor:  68
Valor:  70
Valor:  72
Valor:  74
Valor:  76
Valor:  78
Valor:  80
Valor:  82
Valor:  84
Valor:  86
Valor:  88
Valor:  90
Valor:  92
Valor:  94
Valor:  96
Valor:  98
Valor:  100
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
 La longitud de la lista es  51