<a href="https://colab.research.google.com/github/claudiaospina/Curso1/blob/master/Ejercicios_Iniciales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicios
## https://www.discoduroderoer.es/ejercicios-propuestos-y-resueltos-basicos-en-python/


1) Imprimir “Hola mundo” por pantalla.

In [0]:
print("Hola Mundo")

Hola Mundo

2) Crear dos variables numéricas, sumarlas y mostrar el resultado

In [0]:
v1=12
v2=2
suma=v1+v2
print("La suma de",v1, "y", v2, "es", suma)

La suma de 12 y 2 es 14

3) Mostrar el precio del IVA de un producto con un valor de 100 y su precio final.

In [0]:
precio_sin_iva=100
iva=0.16
precio_final=precio_sin_iva*iva+precio_sin_iva
print("El precio final del producto es",precio_final,"pesos")

El precio final del producto es 116.0 pesos

4) De dos números, saber cual es el mayor.

In [0]:
numero1=input('Ingresa el primer número: ')
numero2=input("Ingresa el segundo número: ")
if numero1>numero2:
 print(numero1,"es mayor que", numero2)
else:
 print(numero1,"es menor que", numero2)

Ingresa el primer número: 5
Ingresa el segundo número: 8
5 es menor que 8

5) Crea una variable numérica y si esta entre 0 y 10, mostrar un mensaje indicándolo.

In [0]:
variable_numerica=458
if (variable_numerica >= 0 and variable_numerica <= 10):
  print("Tu número está entre 0 y 10")
else:
  print("Tu número no está entre 0 y 10")
#No me permitió hacerlo con input, la variable se consideraba str

Tu número no está entre 0 y 10

6) Añadir al anterior ejercicio, que si esta entre 11 y 20, muestre otro mensaje diferente y si esta entre 21 y 30 otro mensaje.

In [0]:
variable_numerica=20
if (variable_numerica >= 0 and variable_numerica <= 10):
  print("Tu número está entre 0 y 10")
elif (variable_numerica >= 11 and variable_numerica <= 20):
  print("Tu número está entre 11 y 20")
elif (variable_numerica >= 21 and variable_numerica <= 30):
  print("Tu número está entre 21 y 30")
else:
  print("Tu número no está en los rangos definidos")

Tu número está entre 11 y 20

7) Mostrar con un while los números del 1 al 100.

In [0]:
i=0
while i<=100:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

8) Mostrar con un for los números del 1 al 100.

In [0]:
i=1
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

9) Mostrar los caracteres de la cadena “Hola mundo”.

In [0]:
for caracter in "Hola Mundo":
  print(caracter)

H
o
l
a

M
u
n
d
o

10) Mostrar los números pares entre 1 al 100.

In [0]:
#Opción 1
for numero in range(0,101,2):
  print(numero)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [0]:
#Opción 2: garantiza que es par por la operación del módulo
for numero in range(0,101):
  if numero%2==0:
    print(numero)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

11) Generar un rango entre 0 y 10

In [3]:
# Tenga en cuenta la función range de Python 3 crea un generador, por lo que tiene que usar la función de lista para obtener una lista
rango=list(range(0,10))
print(rango)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

12) Generar un número entre 5 y 10

In [4]:
# Ver cómo generar un único número al azar
rango2=list(range(5,11))
print(rango2)

[5, 6, 7, 8, 9]

13) Generar un rango de 10 a 0.

In [6]:
rango3=list(range(10,0,-1))
print(rango3)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

14) Generar un rango de 0 a 10 y de 15 a 20, incluidos el 10 y 20

In [8]:
rango4=list(range(0,11))
rango5=list(range(15,21))
rango6=rango4+rango5
print(rango6)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 16, 17, 18, 19, 20]

Generar un rango desde 0 hasta la longitud de la cadena “Hola mundo”

In [10]:
rangolong=list(range(0,len("Hola mundo")))
print(rangolong)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

16) Pide dos cadenas por teclado, muestra ambas cadenas con un espacio entre ellas y con los 2 primeros caracteres intercambiados. Por ejemplo, hola mundo pasaría a mula hondo

In [22]:
cadena1=input("Inserta una palabra ")
cadena2=input("Inserta otra palabra ")
print(cadena2[:2]+cadena1[2:]+' '+cadena1[:2]+cadena2[2:])

Inserta una palabra Hola
Inserta otra palabra Mundo
Mula Hondo