<a href="https://colab.research.google.com/github/claudiaospina/Curso1/blob/master/Ejercicios_Iniciales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicios

1) Imprimir “Hola mundo” por pantalla.

In [1]:
print("Hola Mundo")

Hola Mundo

2) Crear dos variables numéricas, sumarlas y mostrar el resultado

In [4]:
v1=12
v2=2
suma=v1+v2
print("La suma de",v1, "y", v2, "es", suma)

La suma de 12 y 2 es 14

3) Mostrar el precio del IVA de un producto con un valor de 100 y su precio final.

In [7]:
precio_sin_iva=100
iva=0.16
precio_final=precio_sin_iva*iva+precio_sin_iva
print("El precio final del producto es",precio_final,"pesos")

El precio final del producto es 116.0 pesos

4) De dos números, saber cual es el mayor.

In [24]:
numero1=input('Ingresa el primer número: ')
numero2=input("Ingresa el segundo número: ")
if numero1>numero2:
 print(numero1,"es mayor que", numero2)
else:
 print(numero1,"es menor que", numero2)

Ingresa el primer número: 5
Ingresa el segundo número: 8
5 es menor que 8

5) Crea una variable numérica y si esta entre 0 y 10, mostrar un mensaje indicándolo.

In [52]:
variable_numerica=458
if (variable_numerica >= 0 and variable_numerica <= 10):
  print("Tu número está entre 0 y 10")
else:
  print("Tu número no está entre 0 y 10")
#No me permitió hacerlo con input, la variable se consideraba str

Tu número no está entre 0 y 10

6) Añadir al anterior ejercicio, que si esta entre 11 y 20, muestre otro mensaje diferente y si esta entre 21 y 30 otro mensaje.

In [53]:
variable_numerica=20
if (variable_numerica >= 0 and variable_numerica <= 10):
  print("Tu número está entre 0 y 10")
elif (variable_numerica >= 11 and variable_numerica <= 20):
  print("Tu número está entre 11 y 20")
elif (variable_numerica >= 21 and variable_numerica <= 30):
  print("Tu número está entre 21 y 30")
else:
  print("Tu número no está en los rangos definidos")

Tu número está entre 11 y 20

7) Mostrar con un while los números del 1 al 100.

In [70]:
i=0
while i<=100:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

8) Mostrar con un for los números del 1 al 100.

In [74]:
i=1
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

9) Mostrar los caracteres de la cadena “Hola mundo”.

In [80]:
for caracter in "Hola Mundo":
  print(caracter)

H
o
l
a

M
u
n
d
o

10) Mostrar los números pares entre 1 al 100.

In [83]:
#Opción 1
for numero in range(0,101,2):
  print(numero)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [85]:
#Opción 2: garantiza que es par por la operación del módulo
for numero in range(0,101):
  if numero%2==0:
    print(numero)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100